/* General styles */
.service-container {
  text-align: center;
  margin: auto;
  padding-top: 50px; /* Add padding to top */
}

.get-tiba-heading {
  color: #4ceaca; /* Update color */
  font-size: 40px; /* Increase font size */
}

/* Services list */
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  border: 2px solid #4ceaca;
  border-radius: 10px;
  padding: 30px 20px; /* Increase padding */
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  background-color: #000; /* Change background color to black */
  color: #4ceaca; /* Change text color to glowing blue */
}

.service-item:hover {
  transform: translateY(-5px); /* Add hover effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add hover shadow */
}

.selected {
  background-color: #4ceaca;
  color: white;
}

/* Selected service */
.selected-service {
  margin-top: 40px; /* Increase margin */
  background-color: #f0f0f0; /* Change background color */
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.selected-service h3 {
  color: #0b2822; /* Update color */
  background-color: #4ceaca; /* Add background color */
  padding: 10px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  display: inline-block; /* Ensure inline block to contain padding */
  font-family: 'Roboto', sans-serif; /* Example of custom font */
  font-size: 24px; /* Increase font size */
}

.selected-service p {
  font-size: 20px; /* Increase font size */
  font-family: 'Montserrat', sans-serif; /* Example of custom font */
  font-weight: bold; /* Make text bold */
}

