/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 12px; /* Increased width for better accessibility */
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background-color: #1A8EFD;
    border-radius: 4rem;
}

/* Non-prefixed and Mozilla-prefixed properties for cross-browser compatibility */
::-moz-scrollbar {
    width: 12px;
    background-color: #FFFFFF;
}

::-moz-scrollbar-thumb {
    background-color: #1A8EFD;
    border-radius: 4rem;
}

/* Apply custom scrollbar styles to all elements with overflow-y: scroll */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 12px; /* Increased width for better accessibility */
}

*::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
    background-color: #1A8EFD;
    border-radius: 4rem;
}

*::-moz-scrollbar {
    width: 12px;
    background-color: #FFFFFF;
}

*::-moz-scrollbar-thumb {
    background-color: #1A8EFD;
    border-radius: 4rem;
}

/* Apply smooth scrolling behavior to specific elements */
html {
    scroll-behavior: smooth;
}

.smooth-scroll {
    scroll-behavior: smooth;
}